.selectWrapper {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.selectInput {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid #47474721;
}

.items {
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.items > * {
  flex-basis: 320px;
  flex-shrink: 1;
}

@media screen and (max-width: 720px) {
  .selectWrapper {
    justify-content: center;
  }

  .selectInput {
    font-size: 1.2rem;
  }
}
