.items {
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.items > * {
  flex-basis: 320px;
  flex-shrink: 1;
}

.sortLabel {
  display: block;
  width: max-content;
  font-weight: bold;
  margin: 0 auto;
}

.sortLabel > select {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #47474721;
}
