.navigation {
  font-family: Calibri, sans-serif;
  padding: 1.5rem 1rem;
}

.navigation > a {
  color: #000000;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: all 1s ease;
}

.navigation > a:hover,
.navigation > a:focus {
  color: #089c95;
}

.navigation > .activeLink {
  outline: 1px solid #05706b;
  color: #05706b;
  transform: scale(1.05);
}

@media screen and (max-width: 720px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }

  .navigation > a {
    padding: 0.5rem 3rem;
  }
}
