.cartTrigger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cartTrigger:hover,
.cartTrigger:focus {
  transform: scale(1.1);
}

.cartIcon {
  width: 28px;
  height: 28px;
  stroke-width: 2.5;
}

.cartFilled > .cartIcon {
  fill: #000000;
}

.dropdown {
  width: min(600px, 85vw);
  font-size: 0.95rem;
  border: 1px solid #0000001e;
  background: #e6e6e6;
  padding: 1rem;
  text-align: center;
  border-radius: 6px 0 0 6px;
  position: fixed;
  top: 3.5rem;
  right: -50%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.cartLink {
  composes: button from '/src/style/global.module.css';
  background: var(--link-accent-color);
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
}

.cartLink:hover,
.cartLink:focus {
  background: #057c76;
}

.menuExtended {
  top: 3.5rem;
  right: 0;
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

.itemLink {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.itemLink:hover,
.itemLink:focus {
  color: var(--link-accent-color);
}

.itemLink img {
  max-height: 0.95rem;
  padding-right: 0.5rem;
}

.quantity {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  background-color: var(--link-accent-color);
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0.5rem;
}
